TWITTER_CONSUMER_KEY = "CHANGEME"
TWITTER_CONSUMER_SECRET = "CHANGEME"
TWITTER_ACCESS_TOKEN = "CHANGEME"
TWITTER_TOKEN_SECRET = "CHANGEME"

TELEGRAM_BOT_TOKEN = "CHANGEME"
TELEGRAM_CHAT_ID = "@CHANNEL_NAME"

TWITTER_TARGET_USER = "@USER_XY"
TWEET_REGEX = ".*"

ID_SET = "read_tweets.txt"